body {
	max-width: 800px;
	margin: 2em auto;
}

button.edit {
	font-size: 1.1em;
}

h1 a {
	text-decoration: none;
	color: inherit;
}

pre {
	padding: 1em;
	width: 100%;
	background: #DDDDDD;
	max-height: 300px;
	overflow: scroll;
}

.filename {
	font-family: monospace;
}