body {
	max-width: 800px;
	margin: 2em auto;
}

button.edit {
	font-size: 1.1em;
}

h1 a {
	text-decoration: none;
	color: inherit;
}

h4 {
	margin-bottom: 0.2em;
}

pre {
	padding: 1em;
	width: 100%;
	background: #DDDDDD;
	max-height: 300px;
	overflow: scroll;
}

.filename {
	font-family: monospace;
}

/** Errors */
.errors {
	width: 100%;
	padding: 0.3em 0.5em 0.1em 0.5em;
	background-color: #C9E4EB;
}

.errors b {
	font-size: 1.1em;
}

.errors ol {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-left: 1em;
}

.updt_time {
	margin-bottom: 0.6em;
	color: #666666;
}