<!DOCTYPE html>
<html>
<head>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
  {% block title %}<title>{% block pagetitle %}{% endblock %} - DLS</title>{% endblock %}
</head>
<body>
{% block header %}<div class="header"><h1><a href="/">DLS</a></h1></div>{% endblock %}

{% block errors %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="errors">
  <b>Errors</b>
  <ol>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ol>
  </div>
  {% endif %}
{% endwith %}
{% endblock %}

{% block content %}{% endblock %}
</body>
</html>