<!DOCTYPE html>
<html>
<head>
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
	<title>DLS</title>
</head>
<body>

<h1>DLS</h1>
<a href="edit"><button class="edit">Update</button></a>
<br><br>

{% if type==0 %}
Nothing here. Click on the button above to add something.
{% else %}
<!-- data -->
<h4>File</h4>
<span class="filename">{{ data.filename }}</span>
{% if data.filename %}
(<a href="{{ url_for('dataFile', strId=data.strId) }}">Download</a>)
{% endif %}
<!-- text -->
<h4>Text</h4>
<pre>{{ data.text if data.text != None }}</pre>

{% endif %}

</body>
</html>