{% extends "base.html" %}
{% block pagetitle %}{{ data.strId }}{% endblock %}
{% block content %}
<a href="edit"><button class="edit" {% if type==1 and data.is_locked() %} disabled="disabled" {% endif %}>Update</button></a>
<br><br>

{% if type==0 %}
  Nothing here. Click on the button above to add something.
{% else %}
<!-- lock -->
<div class="lock">
{% if data.is_locked() %}
<button disabled="disabled">Unlocking in {{ data.time_remaining()|timerange }}</button>
{% else %}
<form action="lock" method="POST">
  <input type="submit" name="submit" value="Lock">
</form>
{% endif %}
</div>

<!-- data -->
<div class="data_text">
<h4>File</h4>
{% if data.filetime != None %}
  <div class="updt_time"><small>Last Updated: {{ data.filetime|datetime }} ({{ data.filetime|timeago }})</small></div>
{% endif %}
<span class="filename">{{ data.filename }}</span>
{% if data.filename %}
  <small>({{ data.filesize|filesize }})</small>
  [<a href="{{ url_for('dataFile', strId=data.strId) }}">Download</a>]
{% endif %}
</div>

<!-- text -->
<div>
<h4>Text</h4>
{% if data.texttime != None %}
  <div class="updt_time"><small>Last Updated: {{ data.texttime|datetime }} ({{ data.texttime|timeago }})</small></div>
{% endif %}
<pre>{{ data.text if data.text != None }}</pre>
</div>

{% endif %}
{% endblock %}
