<!DOCTYPE html>
<html>
<head>
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
	<title>Edit {{ data.strId }} DLS</title>
</head>
<body>

<p>
<h2>Text</h2>
<form action="" method="POST">
<textarea id="text" name="text" rows="20" cols="70">{{ data.text }}</textarea>
<br>
<input type="submit" value="Save">
</form>
</p>

<br>

<!-- file form -->
<p>
<h2>Upload file</h2>
<form action="/{{data.strId}}/file/" method="POST" enctype = "multipart/form-data">
<input type="file" name="file">
<br><br>
<input type="submit" value="Upload">
</form>
<small>(Current = {% if data.filename %}{{data.filename}}{% else %}None{% endif %})</small>
</p>

</body>
</html>