{% extends "base.html" %}
{% block pagetitle %}Edit {{ data.strId }}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<a href="../">← Back</a><br><br>

{% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="errors">
  <b>Errors</b>
  <ol>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ol>
  </div>
  {% endif %}
{% endwith %}

<p>
<h2>Text</h2>
<form action="" method="POST">
<textarea id="text" name="text" rows="15" cols="70">{{ data.text if data.text != None }}</textarea>
<br>
<input type="submit" value="Save">
</form>
</p>

<br>

<!-- file form -->
<p>
<h2>Upload file</h2>
<form action="/{{data.strId}}/file/" method="POST" enctype = "multipart/form-data">
<input type="file" name="file">
<br><br>
<input type="submit" value="Upload">
</form>
<small>(Current = {% if data.filename %}{{data.filename}}{% else %}None{% endif %})</small>
</p>
{% endblock %}