{% extends "base.html" %}
{% block title %}<title>DLS</title>{% endblock %}
{% block content %}
Hello world !<br>
This service was created by <a href="http://aviaryan.in">Avi Aryan</a> as an attempt to learn and practise Flask.<br>
More features and complexities may be added.<br>
Source available at <a href="https://github.com/aviaryan/dls">GitHub</a>

<h2>Using</h2>

Just go to any URL under this domain. For example <a href="/flask">/flask</a>.<br>
Then you can update the page to add a text and upload a file.<br>
The file will be downloadable from <a href="/flask/file">/flask/file</a>.<br>
To GET the text, send a request to <a href="/flask/text">/flask/text</a>.<br>
Cheers !!
{% endblock %}